TestWebApp/TestUploader/Web References/testweb/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="simple">
        <s:complexType />
      </s:element>
      <s:element name="simpleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="simpleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="upload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="file" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="simpleSoapIn">
    <wsdl:part name="parameters" element="tns:simple" />
  </wsdl:message>
  <wsdl:message name="simpleSoapOut">
    <wsdl:part name="parameters" element="tns:simpleResponse" />
  </wsdl:message>
  <wsdl:message name="uploadSoapIn">
    <wsdl:part name="parameters" element="tns:upload" />
  </wsdl:message>
  <wsdl:message name="uploadSoapOut">
    <wsdl:part name="parameters" element="tns:uploadResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="simple">
      <wsdl:input message="tns:simpleSoapIn" />
      <wsdl:output message="tns:simpleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="upload">
      <wsdl:input message="tns:uploadSoapIn" />
      <wsdl:output message="tns:uploadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="simple">
      <soap:operation soapAction="http://tempuri.org/simple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="upload">
      <soap:operation soapAction="http://tempuri.org/upload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="simple">
      <soap12:operation soapAction="http://tempuri.org/simple" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="upload">
      <soap12:operation soapAction="http://tempuri.org/upload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:28419/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:28419/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>